@import url('https://fonts.googleapis.com/css?family=poppins:wght@200,300,400,500,600,700,800,900&display=swap');
*
{
	font-family: 'Poppins', sans-serif;
}


#theme
{
	border: 2px solid #eee;
	margin-top: 20px;
	padding-bottom: 1px;
	border-radius: 2px;
}

.tie
{
	font-size: 1.8em;
	font-weight: bold;
	padding-top: 20px;
}

.tie span
{
	font-weight: 800;
	color: #000;
	margin-left: 5px;
}

.box
{
	
	background: linear-gradient(125deg,blue,red);
	cursor: pointer;
	padding-bottom: 13px;
	border-radius: 50px;
	margin-top: 30px;
	padding-right: 5px;
	margin-left: 40px;
    margin-right: 4px;
}

.box i
{
	margin-left: 18px;
	margin-top: 17px;
	font-size: 1.7em;
	color: #fff;
	cursor: pointer;
}

.hi
{
	margin-left: 5px;
	margin-top: 20px;
}

.has
{
	margin-left: 5px;
	margin-top: 20px;
	margin-right: 45px;
}

.has span
{
	color: #62a1ff;
	text-decoration: underline;
	cursor: pointer;
	font-weight: 550;
}

.will
{
	margin-top: 20px;
	font-weight: 800;
	margin-left: 5px;
}

.spen
{
	color: #0000ffbf;
	font-weight: bold;
	cursor: pointer;
}

.if
{
	color: green;
	font-weight: none;
	cursor: pointer;
	margin-top: 5px;
	margin-left: 5px;
}

.they
{
	color: #d80e0e;
	cursor: pointer;
	margin-top: 5px;
}

.hi	
{
	margin-left: 5px;
}

.file
{
	margin-left: 5px;
}

.link li
{
	padding-top: 7px;
	cursor: pointer;
}

